.vscode/**
.vscode-test/**
.vscode-test.mjs
src/**
out/test/**
.gitignore
.yarnrc
.eslintrc.json
vsc-extension-quickstart.md
tsconfig.json
**/*.map
.DS_Store
node_modules/@eslint/**
node_modules/@eslint-community/**
node_modules/@humanwhocodes/**
node_modules/@isaacs/**
node_modules/@nodelib/**
node_modules/@pkgjs/**
node_modules/@types/**
node_modules/@typescript-eslint/**
node_modules/@ungap/**
node_modules/@vscode/**
node_modules/agent-base/**
node_modules/cli-cursor/**
node_modules/cli-spinners/**
node_modules/core-util-is/**
node_modules/debug/**
node_modules/get-east-asian-width/**
node_modules/http-proxy-agent/**
node_modules/https-proxy-agent/**
node_modules/immediate/**
node_modules/is-interactive/**
node_modules/isarray/**
node_modules/jszip/**
node_modules/lie/**
node_modules/mimic-function/**
node_modules/ms/**
node_modules/onetime/**
node_modules/ora/**
node_modules/pako/**
node_modules/process-nextick-args/**
node_modules/readable-stream/**
node_modules/restore-cursor/**
node_modules/safe-buffer/**
node_modules/semver/**
node_modules/setimmediate/**
node_modules/signal-exit/**
node_modules/stdin-discarder/**
node_modules/string_decoder/**
node_modules/typescript/**
node_modules/undici-types/**
node_modules/util-deprecate/**

